<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
{META}
<title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>

<!-- IF S_ALLOW_CDN -->
<script>
	WebFontConfig = {
		google: {
			families: ['Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese']
		}
	};

	(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
		wf.async = true;
		s.parentNode.insertBefore(wf, s);
	})(document);
</script>
<!-- ENDIF -->
<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
<link href="{T_STYLESHEET_LINK}" rel="stylesheet">
<link href="{T_STYLESHEET_LANG_LINK}" rel="stylesheet">

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link href="{T_THEME_PATH}/bidi.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!--[if lte IE 8]>
	<link href="{T_THEME_PATH}/tweaks.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<![endif]-->

<!-- DEFINE $POPUP = 1 -->

<!-- EVENT simple_header_head_append -->

{$STYLESHEETS}

<!-- EVENT simple_header_stylesheets_after -->

</head>

<body id="phpbb" class="nojs {S_CONTENT_DIRECTION} {BODY_CLASS}">

<!-- EVENT simple_header_body_before -->

<div id="wrap" class="wrap">
	<div style="
			position: absolute;
			background-color: #ff6a6a;
			background-image: -webkit-linear-gradient(to bottom, #ff6a6a 0%, #f44a3a 2px, #eb7c12 92px, #eb6612 100%);
			background-image: linear-gradient(to bottom, #ff6a6a 0%, #f44a3a 2px, #eb7c12 92px, #eb6612 100%);
			background-repeat: repeat-x;
			vertical-align: middle;
			z-index: 99999;
			transform: rotate(-10deg);
			text-align: center;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 75%;
			align-items: center;
			display: flex;
			justify-content: center;
			height: 150px;
		">
				<p style="
			font-size: 20px;
			color: white;
			font-weight: bold;
			padding: 10px;
			/* margin: auto; */
			/* padding: 70px 0; */
		">
					Fórum sa presunulo do novej FB skupiny - <a href="https://www.facebook.com/groups/319117792570618/" style="
			color: white;
			text-decoration: underline;
		">Jazdectvo pre každého - rady, tipy &amp; triky (klikni)</a>
				</p>
			</div>
	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-body" class="page-body" role="main">
