Options +Indexes +FollowSymLinks +MultiViews

RewriteEngine On

RewriteBase /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ $1.php [NC,L]
RewriteRule (.*)index\.html$ /$1 [NS,R=301,L]

RewriteRule ^sitemap\.xml$ sitemap.php [L]

ErrorDocument 404 /404.php